{%extends 'accounts/user/user_base.html'%}

{%block content%}
<div class="card col-6 offset-3 mt-2 border-success">
    <div class="card-header">
        <h4 class="text-center">Trouble Signing In?</h4>

        <span>Request a password reset, and we will have you up again..</span>
    </div>
    <div class="card-body">       
           
        <form method='post'>
            {%csrf_token%}
            {{form}}
            <input type="submit" value="Password Reset" class="btn btn-sm btn-outline-success">
        </form>
        
        <small class="text-muted">
            Try signing in again? <a class="ml-2" href="{% url 'login' %}"> Log Into Your Account</a>
        </small>
    </div>

</div>
{% endblock content%}