{%extends 'accounts/user/user_base.html'%}

{%block content%}

<div class="row">
  
  <div class='col-6 offset-3'>
    <div class='card mt-3'>
        <div class='card-header bg-secondary'>
          Register
        </div>
        <div class="card-body">
          <form method="POST">
             {% csrf_token %} 

            {{form.as_p}}

            <input class='btn btn-sm btn-primary' type="submit" name="Create User" />
          </form>
          {{form.errors}}


          <div class=''>
            <small>Already have an account?</small>
            <a href="{%url 'login'%}"> Login</a>
          </div>

        </div>
    </div>
  </div>
</div>
{%endblock content%}