{% extends "accounts/main.html" %} {% block content %}
<!-- <hr> -->
<div class="row">
    <div class="col-md text-center">
        <div class="card card-header">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <th>
                <tr>
                    <td>Product</td>
                    <td>Category</td>
                    <td>Price</td>
                </tr>
               </th>
               <tbody> 
                <!-- <tr> -->
                    {% for i in products %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.category}}</td>
                        <td>{{i.price}}</td>
                    </tr>
                    {%endfor%}
                <!-- </tr> -->
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}
