{% extends "accounts/main.html" %} {% block content %}
<!-- <hr> -->
<div class="row">
    <div class="col-md text-center">
        <div class="card card-header">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <td>Product</td>
                    <td>Category</td>
                    <td>Price</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<h4>products</h4>

{% endblock content %}
